{% extends 'blogengine/includes/base.html'%}
        {% block content %}
            {% if post_list %}
                {% for post in post_list %}
                    <div class="container-fluid">
                        <table class="table table-bordered">
                            <tr>
                                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                            </tr>
                            <tr>
                                <h5>{{ post.pub_date }}</h5>
                            </tr>
                            <tr>
                                <a href="{% url 'blogengine:updatepost' post.slug %}"><span class="glyphicon glyphicon-edit label label-success"> Update</span></a>
                                <a href="{% url 'blogengine:deletepost' post.slug %}"><span class="glyphicon glyphicon-remove-circle label label-danger"> Delete</span></a>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
            <p>No posts found</p>
        {% endif %}
        {% endblock %}