{% extends 'blogengine/includes/base.html'%}
        {% block content %}
            {% if post_list %}
                {% for post in post_list %}
                    <div class="container-fluid">
                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                        <h5>{{ post.pub_date }}</h3>
                        <a href="{{ updatepost }}"><span class="glyphicon glyphicon-edit label label-success"> Update</span></a>
                        <a href="{{ updatepost }}"><span class="glyphicon glyphicon-remove-circle label label-danger"> Delete</span></a>
                    </div>
                {% endfor %}
            {% else %}
            <p>No posts found</p>
        {% endif %}
        {% endblock %}